#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: ubuntu-server
    username: ubuntu
    password: "$6$iTa6uU0F5HT3.2QP$lwI3aqrOSzfYRNVtUKXzr8DhuUaudFb5FnmSAhmgTSY0fqeQBQ2R5ALtlMkIqflV6F.OtMgqDnGBDLOSdGrKB."
  ssh:
    install-server: true
    allow-pw: true
  packages:
    - qemu-guest-agent
